/* Give your page a fun background color */
    body {background-color: cadetblue;
    
    }
/* Make the header and footer a different color from the background */
footer {
    
    background-color: crimson;
    border-color: darkolivegreen;
    padding: 3px;

}
header 
    
{background-color: deeppink;
    border-color: grey;
    height: 50px;}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center ;
}
/* Make your p tag a different color and italic */
p {
    color: indigo;
    font-style: italic;

}
/* Put a border around your image */
img {
    width: max-content;
    height: max-content;
    border-style: solid;
    border-color: powderblue;
    border-width: medium;
    margin: initial;

}
/* Change the font-family of your list */
ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}